.padTopBottom24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.padTop12 {
    padding-top: 12px;
}

.button {
    margin-left: 6px;
}

.select {
    margin-left: 6px;
}

.noMarginLeft {
    margin-left: 0px;
}